<%= simple_form_for(@product) do |f| %>
  <!-- TODO: Might not need this with simple form -->
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class='three columns'>
      <div class="field">
        <%= f.input :sku %>
      </div>
    </div>
    <div class='three columns'>
      <div class="field">
        <%= f.input :name %>
      </div>
    </div>
    <div class='three columns'>
      <div class="field">
        <%= f.input :price %>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='three columns'>
      <div class="field">
        <%= f.input :description %>
      </div>
    </div>
  </div>
  

  <!-- TODO:  Replace with simple form/cocoon using association -->
  <h2>Add details</h2>
  <div id='details_area'>
    <%= link_to_add_association 'add details', f, :properties, {'data-association-insertion-traversal' => '#details_area', "data-association-insertion-method" => 'append'} %>
    <%= f.simple_fields_for :properties do |pp| %>
      <%= render 'property_fields', f: pp %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit class: 'button-primary' %>
  </div>
  <div class='duplicate-warning-area'>
    
  </div>
<% end %>
